.App {
  text-align: center;
}

._iiid5y {
  animation: App-logo-spin infinite 20s linear;
  height: 5em;
  width: 5em;
  display: block;
  align: center;
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: rgb(255, 90, 95);
  fill: rgb(255, 90, 95);

}

.App-header {
  background-color: rgb(255, 90, 95);;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
